<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<body>
    <p>
        Вы успешно зарегистрировались в Aphelion. Чтобы подтвердить свой e-mail, пройдите по ссылке ниже.
    </p>
    <p>
        <a th:href="@{http://localhost:3000/confirm-email(confirmationId=${confirmationId})}">Подтвердить</a>
    </p>
    <p>
        Данная ссылка действительна до <span th:text="${#dates.format(expirationDate, 'dd-MM-yyyy hh:mm:ss')}"></span> UTC
    </p>
</body>
</html>